/* Global */
:root {
    /* color */
    --color-white: #ffffff;
    --color-light-white: #e9e9e9;
    --color-dark-white: #bdbdbd;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-dark-grey: #444444;
    --color-black: #000000;
    --color-black-a: rgba(0, 0, 0, 0.5);
    --color-blue: #0078D0;
    --color-sky: #79cdfc;
    --color-light-blue: #eaeef5;

    /* Font size */
    --font-big: 48px;
    --font-large: 32px;
    --font-medium: 24px;
    --font-regular: 20px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
    --weight-thin: 100;

    /* border Size */
    --size-border-radius: 4px;
}

body {
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Noto_Sans', sans-serif !important;
}

button,
input,
select,
textarea {
    border-radius: 0;
    border: none;
    background: 0;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    appearance: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 0;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 0;
}

h4 {
    font-size: var(--font-small);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 0;
}

p {
    font-size: var(--font-small);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 0;
}

.section {
    padding: 50px;
    text-align: center;
    margin: 0 auto;
}

.container {
    max-width: 1280px;
    width: 100%;
}

#wrapper {
    height: auto;
    min-width: 100%;
    padding-bottom: 60px;
}

.contents {
    position: relative;
    left: 250px;
    width: 1030px;
    transition: all 0.35s;
    padding: 100px 60px 60px 60px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.something {
    position: relative;
    height: 1000px;
}

.center {
    margin: 0 auto;
    text-align: center;
}

/* header */
#sidebar_icon {
    display: none;
}

header {
    width: 100%;
    height: 60px;
    background-color: var(--color-white);
    position: fixed;
    z-index: 50;
    border: 1px solid var(--color-light-white);
}

header>div {
    position: relative;
    margin: 0 auto;
}

header>div ul.navbar {
    margin: 0;
}

header>div ul.navbar>li {
    font-size: var(--font-small);
    display: inline-block;
    vertical-align: middle;
}

header>div ul.navbar>li>label {
    display: block;
    padding: 20px;
    margin-left: 50px;
}

.navbar.right>li>a {
    display: block;
    padding: 20px;
}

.navbar>li>label {
    font-weight: var(--weight-bold);
}

.logo_img {
    position: relative;
    left: 40px;
    height: 40px;
    width: 100%;
}

.area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

/* sidebar */

.sidebar_btn {
    display: block;
    position: relative;
    cursor: pointer;
    color: #000000;
}

.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: var(--color-light-blue);
    z-index: 10;
    transition: all .35s
}

#sidebar_icon:checked~header .sidebar_btn {
    z-index: 50;
}

#sidebar_icon:checked~.container .sidebar {
    z-index: 10;
    left: -250px;
}

#sidebar_icon:checked~.container .contents {
    z-index: 10;
    left: 0px;
    max-width: 1280px;
    width: 100%;
}

/* accodion */
.target {
    display: block;
    top: 0;
    left: 0;
    position: fixed;
}

.open-accordion {
    display: block;
}

.close-accordion {
    display: none;
}

:target~.open-accordion {
    display: none;
}

:target~.close-accordion {
    display: block;
}

.accordion_li {
    width: 250px;
    border-bottom: 1px solid var(--color-light-white);
}

.accordion_li p {
    color: var(--color-dark-grey);
    font-size: var(--font-small);
    font-weight: var(--weight-semi-bold);
    padding: 20px;
}

.accordion_li i {
    font-size: var(--font-micro);
    padding-right: 6px;
}

.accordion_content {
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.accordion_content>ul>li {
    height: 50px;
    line-height: 50px;
}

.accordion_content>ul>li>a {
    display: block;
    padding-left: 50px;
}

.accordion_content>ul>li>a:hover {
    color: var(--color-blue);
}

.accordion_li:first-of-type :target~.accordion_content {
    height: 150px;
}

.accordion_li:nth-of-type(2) :target~.accordion_content {
    height: 50px;
}

.accordion_li:nth-of-type(3) :target~.accordion_content {
    height: 150px;
}

.accordion_li:nth-of-type(4) :target~.accordion_content {
    height: 100px;
}

.accordion_li:nth-of-type(5) :target~.accordion_content {
    height: 250px;
}

.accordion_li:nth-of-type(n) :target~.close-accordion p {
    color: var(--color-blue);
}


/* signup html */
/* section signup */
.signup_wrap {
    margin: 0 auto;
    width: 500px;
    border: 1px solid var(--color-dark-white);
    border-radius: 15px;
    padding: 50px;
}

.signup_wrap>label {
    padding: 10px 20px 0 10px;
}

.input_row {
    width: 100%;
    display: inline-block;
    text-align: left;
    border: 1px solid var(--color-dark-white);
    border-radius: 5px;
    padding: 12px;
    margin: 10px 0 20px 0;
}

.input_row>label {
    font-size: var(--font-small);
    line-height: 20px;
    margin-right: 50px;
}

.input_row>label:nth-of-type(2) {
    margin-left: 27px;
}

.input_row>label>input {
    margin: 10px;
}

.input_row>label>span:hover {
    cursor: pointer;
}

[type="radio"] {
    vertical-align: middle;
    border: 2px solid var(--color-grey);
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

[type="radio"]:checked {
    border: 5px solid var(--color-blue);
}

[type="radio"]:hover {
    box-shadow: 0 0 0 4px var(--color-sky);
    cursor: pointer;
}

.input_text {
    position: relative;
    display: block;
    width: 100%;
    font-size: var(--font-small);
}


.signup_submit {
    padding-top: 40px;
}

.btn_login {
    display: block;
    width: 100%;
    padding: 16px;
    border-radius: 5px;
    background-color: var(--color-light-grey);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: var(--color-white);
}

.btn_login:hover {
    background: var(--color-grey);
}


/* login */
.logo_img_login {
    display: block;
    margin: 0 auto;
    width: 160px;
    padding-bottom: 30px;

}

.login_pannel {
    display: block;
    margin: 0 auto;
    width: 325px;
    border: 1px solid var(--color-dark-white);
    border-radius: 3%;
}

.login_pannel_inner {
    padding: 20px;
}

.id_pw_wrap {
    display: block;
}

.id_pw_wrap .input_row {
    width: 100%;
    padding: 16px;
}

.login_pannel .btn_login {
    margin-top: 20px;
}

/* mypage.html */
/* mypage */
.mypage {
    width: 60%;
    margin: 0 auto;
}

.mypage>h3 {
    padding-bottom: 16px;
}

.mypage_box {
    display: block;
    position: relative;
    padding: 30px 10px 10px 0;
    color: var(--color-dark-grey);
    font-weight: var(--weight-bold);
    border-bottom: 1px solid var(--color-light-white);
}

.mypage_box a,
.mypage_box span:last-child {
    float: right;
    color: var(--color-blue);
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* change_pw.html */
/* change_pw */
.mypage_notice {
    padding-top: 20px;
    padding-bottom: 20px;
}

.mypage_notice p {
    font-size: var(--font-micro);
    color: var(--color-dark-grey);
}

.mypage_notice p:nth-child(1) {
    font-size: var(--font-small);
    padding-bottom: 10px;
}

.change_pw_form>.input_row {
    border: 0;
    border-bottom: 1px solid var(--color-light-white);
    font-weight: var(--weight-bold);
}

.change_pw_form>.input_row>.input_text {
    font-weight: var(--weight-bold);
}




/* footer */
footer {
    position: relative;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-image: url(img/footer.png);
    background-size: 100%;
    line-height: 60px;
    z-index: 100;
}

.footer_text {
    text-align: center;
    font-weight: var(--weight-bold);
    color: var(--color-sky);
}




@media screen and (max-width: 1280px) {
    body {
        color: red;
    }
}